.categories-container {
	padding: 111px 135px 72px 135px;

	.categories-content {
		width: 100%;
		height: 428px;
	}
	.categories-title {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 135%;
		color: #1e232c;
	}
	.categories-list {
		margin-top: 50px;
	}
}
